.header_content{
  display: flex;
}

.header_content > :first-child {
  margin-right: auto;
}

.greeting_messege{
  font-weight: bold;
  font-size: 30px;
}

.right_content{
  margin-top: 10px;
}

.header_item {
  margin-left: 20px;
}

.cardBlogContent{
  display: flex;
}